.form-busca {
  margin: 40px 0;
  display: block;
  min-width: 680px;

  .flex-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px 0;
  }
  .input-container {
    margin-bottom: -1.25em;
  }
  .mat-button-toggle-checked {
    background-color: #f7f2fa;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #363636;
  }
  .principal-section {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: row;
    gap: 15px;
  }
  .secondary-section {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;

    .destiny {
      padding-top: 20px;
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 15px;
    }
    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}
