<app-card variant="secondary" class="form-busca">
  <form [formGroup]="formBuscaService.formgroup" (ngSubmit)="buscar()">
    <h2>Passagens</h2>
    <div class="principal-section">
      <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        formControlName="somenteIda"
      >
        <mat-button-toggle [value]="false">
          <mat-icon *ngIf="!formBuscaService.formgroup.get('somenteIda')?.value"
            >check</mat-icon
          >
          Só Ida
        </mat-button-toggle>
        <mat-button-toggle [value]="true">
          <mat-icon *ngIf="formBuscaService.formgroup.get('somenteIda')?.value"
            >check</mat-icon
          >
          Ida e Volta
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-chip-listbox aria-label="passages selection">
        <mat-chip-option (click)="formBuscaService.openDialog()"
          >1 adulto</mat-chip-option
        >
        <mat-chip-option
          color="accent"
          selected
          (click)="formBuscaService.openDialog()"
          >Primeira Classe</mat-chip-option
        >
      </mat-chip-listbox>
    </div>
    <div class="secondary-section">
      <div class="destiny">
        <app-dropdown-uf
          label="Origem"
          prefix="flight_takeoff"
          [control]="formBuscaService.obterControle('origem')"
        />
        <button mat-icon-button>
          <mat-icon color="primary">sync_alt</mat-icon>
        </button>
        <app-dropdown-uf
          label="Destino"
          prefix="flight_land"
          [control]="formBuscaService.obterControle('origem')"
        />
      </div>
      <div class="date">
        <mat-form-field class="input-container" appearance="outline">
          <mat-label>Data de ida</mat-label>
          <input matInput [matDatepicker]="ida" placeholder="Data Ida" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="ida"
          ></mat-datepicker-toggle>
          <mat-datepicker #ida></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input-container" appearance="outline">
          <mat-label>Data da volta</mat-label>
          <input matInput [matDatepicker]="volta" placeholder="Data VOlta" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="volta"
          ></mat-datepicker-toggle>
          <mat-datepicker #volta></mat-datepicker>
        </mat-form-field>
        <button mat-flat-button color="primary">BUSCAR</button>
      </div>
    </div>
  </form>
</app-card>
