<mat-card class="card-busca">
  <div class="conteiner-image-destino">
    <img class="imagem-destino" src="{{ promocao.imagem }}" alt="Imagem de Veneza" />
  </div>
  <mat-card-content>
    <ul>
      <li>{{ promocao.destino }}</li>
      <li>R$ {{ promocao.preco }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button
        color="primary"
        class="btn-link"
        target="_blank"
        href="https://pt.wikipedia.org/wiki/{{ promocao.destino }}"
        >VER DETALHES</a
      >
  </mat-card-actions>
</mat-card>
