.conteiner {
  .card-depoimentos {
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, .4);
    display: flex;
    transition: all .3s;
    max-width: 360px;
    height: 275px;
    background-color: #EEEEEE;
    color: #363636;
    margin: 10px;
    gap: 20px;

    .texto-depoimento{
      margin-left: 60px;
    }

    .mat-card-header {
      .mat-card-title {
        color: black;
      }
    }
    .example-header-image {
      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }
    }
    .mdc-card__actions {
      gap: 10px;
    }

    .btn-link {
      font-style: none;
      color: white;
    }
  }
  .card-depoimentos:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(1.2);
  }
}

