<app-banner src="../../../../assets/banner-homepage.png" alt="banner" />
<app-container>
  <app-container>
    <br />
    <app-form-busca></app-form-busca>
    <h2>Promoções</h2>
    <div class="card-wrapper">
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
    </div>
    <br />
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
      <app-card-depoimentos></app-card-depoimentos>
      <app-card-depoimentos></app-card-depoimentos>
      <app-card-depoimentos></app-card-depoimentos>
    </div>
  </app-container>
</app-container>
