<header class="app-header">
  <mat-toolbar>
    <span class="titleAplication" routerLink="/">Fly With</span>

    <span class="example-spacer"></span>

    <button mat-stroked-button routerLink="/login">Sing in</button>
    <button mat-raised-button routerLink="/cadastro" color="primary">
      Sing up
    </button>
    <a
      mat-raised-button
      href="https://www.linkedin.com/in/vin%C3%ADcius-dias-rodrigues-107602231/"
      target="_blank"
      class="Contact"
      >Contact Us</a
    >
  </mat-toolbar>
</header>
