<header class="app-header">
  <mat-toolbar>
    <div routerLink="/" class="empresa">
      <img
        class="img-header"
        src="../../../assets/imagens/logo2.jpg"
        alt="logo empresa"
      />
      <span class="titleAplication">Fly With</span>
    </div>

    <span class="example-spacer"></span>

    <div class="links-toolbar">
      <ng-template #login>
        <button mat-stroked-button routerLink="/login">Sing in</button>
        <button mat-raised-button routerLink="/cadastro" color="primary">
          Sing up
        </button>
      </ng-template>

      <ng-container *ngIf="user$ | async as pessoaUsuaria; else login">
        <mat-icon class="profile-icon" title="user profile" routerLink="/perfil"
          >person</mat-icon
        >
        <button mat-stroked-button (click)="deslogar()">Sair</button>
      </ng-container>

      <a
        mat-stroked-button
        routerLink="/contact"
        target="_blank"
        class="Contact"
        >Contact Us</a
      >
    </div>
  </mat-toolbar>
</header>
