<header class="app-header">
  <mat-toolbar>
    <div routerLink="/" class="empresa">
      <img class="img-header" src="../../../assets/imagens/logo2.jpg" alt="logo empresa">
      <span class="titleAplication">Fly With</span>
    </div>

    <span class="example-spacer"></span>

    <button mat-stroked-button routerLink="/login">Sing in</button>
    <button mat-raised-button routerLink="/cadastro" color="primary">
      Sing up
    </button>
    <a
      mat-stroked-button
      href="https://www.linkedin.com/in/vin%C3%ADcius-dias-rodrigues-107602231/"
      target="_blank"
      class="Contact"
      >Contact Us</a
    >
    <mat-icon class="profile-icon" title="user profile" routerLink="/perfil">person</mat-icon>
  </mat-toolbar>
</header>
