.app-header{
    .mat-toolbar{
        padding: 0 256px;
    }
    .titleAplication{
        font-size: 2rem;
    }
    .example-spacer {
        flex: 1 1 auto;
    }
    .mat-toolbar-single-row{
        background-color: #363636;
        color: white;
        gap: 10px;
        border-bottom: 1px solid #696969;
    }
    .mat-mdc-outlined-button:not(:disabled) {
        border: 2px solid #673ab7;
    }
    .mat-mdc-raised-button.mat-unthemed {
        --mdc-protected-button-container-color: #673ab7;
        --mdc-protected-button-label-text-color: white
    }
}   