.app-header {

  .empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }

  .links-toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .profile-icon{
    background-color: white;
    color: #673ab7;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-left: 2rem;
    cursor: pointer;
  }
  .img-header{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .mat-toolbar {
    padding: 0 256px;
  }
  .titleAplication {
    font-size: 2rem;
    cursor: pointer;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar-single-row {
    background-color: black;
    color: white;
    gap: 10px;
    border-bottom: 1px solid #696969;
  }
  .mat-mdc-outlined-button:not(:disabled) {
    border: 2px solid #673ab7;
  }
  .mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: #673ab7;
    --mdc-protected-button-label-text-color: white;
  }
}
