<section class="modal">
  <div mat-dialog-content>
    <div class="quantidades">
      <div class="identificadores">
        <app-seletor-passageiros
          Seletor="Adultos"
          Description="Acima de 12 anos"
          [formControl]="formBuscaService.obterControle('adultos')"
        />
        <app-seletor-passageiros
          Seletor="Crianças"
          Description="Entre 2 e 12 anos"
          [formControl]="formBuscaService.obterControle('criancas')"
        />
        <app-seletor-passageiros
          Seletor="Bebês"
          Description="Menos de 2 anos"
          [formControl]="formBuscaService.obterControle('bebes')"
        />
      </div>
    </div>
    <div class="categorias">
      <h2>Categorias</h2>
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option
          color="accent"
          value="Executiva"
          [selected]="
            formBuscaService.formgroup.get('tipo')?.value === 'Executiva'
          "
          (selectionChange)="formBuscaService.alterarTipo($event, 'Executiva')"
          >Executiva</mat-chip-option
        >

        <mat-chip-option
          value="Econômica"
          [selected]="
            formBuscaService.formgroup.get('tipo')?.value === 'Econômica'
          "
          (selectionChange)="formBuscaService.alterarTipo($event, 'Econômica')"
          >Econômica</mat-chip-option
        >
      </mat-chip-listbox>
    </div>

    <button mat-flat-button color="primary" class="save-button">Salvar</button>
  </div>
</section>
