<section class="modal">
  <form>
    <div class="quantidades">
      <div class="identificadores">
        <h2>Adultos</h2>
        <p>Acima de 12 anos</p>
        <div class="operadores">
          <button mat-icon-button>
            <mat-icon color="primary">add_circle</mat-icon>
          </button>
          <input matInput placeholder="2" class="numbers" />
          <button mat-icon-button>
            <mat-icon color="primary">backspace</mat-icon>
          </button>
        </div>
      </div>
      <div class="identificadores">
        <h2>Crianças</h2>
        <p>Entre 2 e 12 anos</p>
        <div class="operadores">
          <button mat-icon-button>
            <mat-icon color="primary">add_circle</mat-icon>
          </button>
          <input matInput placeholder="1" class="numbers" />
          <button mat-icon-button>
            <mat-icon color="primary">backspace</mat-icon>
          </button>
        </div>
      </div>
      <div class="identificadores">
        <h2>Bebês</h2>
        <p>Até 2 anos</p>
        <div class="operadores">
          <button mat-icon-button>
            <mat-icon color="primary">add_circle</mat-icon>
          </button>
          <input matInput placeholder="0" class="numbers" />
          <button mat-icon-button>
            <mat-icon color="primary">backspace</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="categorias">
      <h2>Categorias</h2>
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option color="accent" selected
          >Primeira Classe</mat-chip-option
        >
        <mat-chip-option>Executiva</mat-chip-option>
        <mat-chip-option>Econômica</mat-chip-option>
      </mat-chip-listbox>
    </div>

    <button mat-flat-button color="primary" class="save-button">Salvar</button>
  </form>
</section>
