.conteiner-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buca-detalhada {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  .button-busca {
    background-color: #673ab7;
    color: white;
    width: 150px;
  }
}

.conteiner-depoimentos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-headers {
  font-size: 2rem;
}
