.conteiner-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner-depoimentos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.main-headers{
  font-size: 2rem;
}
