<section class="homepage">
  <app-banner
    src="../../../assets/imagens/7d1799e6-d482-48fa-b590-a0054bff75d9.jpg"
    alt="banner"
  />
  <app-container>
    <app-container>
      <br />
      <app-form-busca [emitirBusca]="false"></app-form-busca>
      <h2 class="main-headers">Promoções</h2>
      <div class="conteiner-main">
        <app-promocoes></app-promocoes>
      </div>
      <br />
      <h2 class="main-headers">Depoimentos</h2>
      <div class="conteiner-depoimentos">
        <app-card-depoimentos></app-card-depoimentos>
      </div>
    </app-container>
  </app-container>
</section>
