<section class="conteiner">
  <div class="profile-card">
    <div class="developer-descriptions">
      <div class="profile">
        <div class="conteiner-photo">
          <img
            src="../../../assets/imagens/rogi.jpg"
            alt="desenvolvedor"
            class="profile-photo"
          />
        </div>
        <h1>
          <mat-icon
            class="profile-icon"
            title="user profile"
            routerLink="/perfil"
            >person</mat-icon
          >
          Igor Martins
        </h1>
      </div>
      <div class="resume">
        <p class="description">
          🚀 Estudante de Ciências da Computação na universidade FUMEC e
          entusiasta da tecnologia. Tenho interesse em Banco de Dados, sendo a
          área em que tenho dedicado mais tempo de estudo. Sou dedicado,
          esforçado e calmo.
          <br /><br />
          Estou sempre disposto a aprender e aperfeiçoar as práticas de
          programação. Me adapto rápido e lido bem com situações difíceis,
          buscando sempre entender a origem do problema e resolvê-lo em partes,
          mas sempre mantendo a organização.
          <br /><br />
          🎆 Procuro desenvolver tanto pessoalmente quanto em equipe. Possuo
          experiências em administração e sempre as utilizo em meu dia a dia
          para realizar as tarefas com eficiência.
        </p>
      </div>

      <div class="contacts">
        <a
          class="link"
          href="https://www.linkedin.com/in/igorfm/"
          target="_blank"
          ><img
            src="../../../assets/imagens/linkedin.jpg"
            alt="linkedin"
            class="img-icone"
          />
          LinkedIn
        </a>
        <a class="link" href="https://github.com/Viniddev" target="_blank"
          ><img
            src="../../../assets/imagens/github.png"
            alt="Github"
            class="img-icone"
          />
          GitHub
        </a>
        <a class="link" href="https://wa.me/31995542943" target="_blank"
          ><img
            src="../../../assets/Icons/whatsapp.png"
            alt="whatsapp"
            class="img-icone"
          />
          WhatsApp
        </a>
      </div>
    </div>
  </div>

  <div class="profile-card">
    <div class="developer-descriptions">
      <div class="profile">
        <div class="conteiner-photo">
          <img
            src="../../../assets/imagens/Vinícius.jpeg"
            alt="desenvolvedor"
            class="profile-photo"
          />
        </div>
        <h1>
          <mat-icon
            class="profile-icon"
            title="user profile"
            routerLink="/perfil"
            >person</mat-icon
          >
          Vinícius Dias Rodrigues
        </h1>
      </div>
      <div class="resume">
        <p class="description">
          🚀 Sou um desenvolvedor versátil. Estou sempre disposto a aprender
          novas tecnologias e mantenho a certeza e humildade de que sou um
          constante aprendiz.
          <br /><br />
          📌 Atualmente trabalho com Automação Robótica de Processos (RPA), mas
          o início do meu interesse por tecnologia surgiu por meio do
          desenvolvimento Front-end e só então evoluiu para o Back-end. Essa
          transição me possibilita compreender melhor como ambas as partes do
          desenvolvimento funcionam e como ocorre sua integração.
          <br /><br />
          🎆 Agradeço primeiramente ao professor <strong>Dangelo</strong> pela
          oportunidade de aprender mais sobre esse Framework e, em segundo
          lugar, aos colegas que contribuiram para o desenvolvimento.
        </p>
      </div>

      <div class="contacts">
        <a
          class="link"
          href="https://www.linkedin.com/in/vin%C3%ADcius-dias-rodrigues/"
          target="_blank"
          ><img
            src="../../../assets/imagens/linkedin.jpg"
            alt="linkedin"
            class="img-icone"
          />
          LinkedIn
        </a>
        <a class="link" href="https://github.com/Viniddev" target="_blank"
          ><img
            src="../../../assets/imagens/github.png"
            alt="Github"
            class="img-icone"
          />
          GitHub
        </a>
        <a class="link" href="https://wa.me/31995542943" target="_blank"
          ><img
            src="../../../assets/Icons/whatsapp.png"
            alt="whatsapp"
            class="img-icone"
          />
          WhatsApp
        </a>
      </div>
    </div>
  </div>

  <div class="profile-card">
    <div class="developer-descriptions">
      <div class="profile">
        <div class="conteiner-photo">
          <img
            src="../../../assets/imagens/rapha.jpg"
            alt="desenvolvedor"
            class="profile-photo"
          />
        </div>
        <h1>
          <mat-icon
            class="profile-icon"
            title="user profile"
            routerLink="/perfil"
            >person</mat-icon
          >
          Raphael Do Nascimento
        </h1>
      </div>
      <div class="resume">
        <p class="description">
          🚀Desenvolvedor de software e estudante de Ciências da Computação com
          mais de 2 anos e meio de experiência em programação; Possuo 8 meses de
          experiência profissional como desenvolvedor web, destacando
          habilidades em C#/.NET, React, Next.js e TypeScript.
          <br /><br />
          🎆 Atualmente, concentro meus estudos em aprimorar minhas habilidades
          em .NET e React Native, complementando minha formação acadêmica, onde
          já liderei projetos envolvendo Estrutura de Dados, Arquitetura de
          Software e de Computadores, Desenvolvimento mobile e desenvolvimento
          em Java.
        </p>
      </div>

      <div class="contacts">
        <a
          class="link"
          href="https://www.linkedin.com/in/raphaelncp/"
          target="_blank"
          ><img
            src="../../../assets/imagens/linkedin.jpg"
            alt="linkedin"
            class="img-icone"
          />
          LinkedIn
        </a>
        <a class="link" href="https://github.com/Viniddev" target="_blank"
          ><img
            src="../../../assets/imagens/github.png"
            alt="Github"
            class="img-icone"
          />
          GitHub
        </a>
        <a class="link" href="https://wa.me/31995542943" target="_blank"
          ><img
            src="../../../assets/Icons/whatsapp.png"
            alt="whatsapp"
            class="img-icone"
          />
          WhatsApp
        </a>
      </div>
    </div>
  </div>
</section>
