<section class="conteiner">
  <div class="profile-card">
    <div class="conteiner-photo">
      <img
        src="../../../assets/imagens/Vinícius.jpeg"
        alt="desenvolvedor"
        class="profile-photo"
      />
    </div>

    <div class="developer-descriptions">
      <h1>
        <mat-icon class="profile-icon" title="user profile" routerLink="/perfil"
          >person</mat-icon
        >
        Vinícius Dias Rodrigues
      </h1>

      <p class="description">
        🚀 Sou um desenvolvedor versátil. Estou sempre disposto a aprender novas
        tecnologias e mantenho a certeza e humildade de que sou um constante
        aprendiz.
        <br /><br />
        📌 Atualmente trabalho com Automação Robótica de Processos (RPA), mas o
        início do meu interesse por tecnologia surgiu por meio do
        desenvolvimento Front-end e só então evoluiu para o Back-end. Essa
        transição me possibilita compreender melhor como ambas as partes do
        desenvolvimento funcionam e como ocorre sua integração.
        <br /><br />
        🎆 Agradeço primeiramente ao professor <strong>Dangelo</strong> pela
        oportunidade de aprender mais sobre esse Framework e, em segundo lugar,
        aos colegas que contribuiram para o desenvolvimento.
      </p>

      <div class="contacts">
        <a
          class="link"
          href="https://www.linkedin.com/in/vin%C3%ADcius-dias-rodrigues/"
          target="_blank"
          ><img
            src="../../../assets/imagens/linkedin.jpg"
            alt="linkedin"
            class="img-icone"
          />
          LinkedIn
        </a>
        <a class="link" href="https://github.com/Viniddev" target="_blank"
          ><img
            src="../../../assets/imagens/github.png"
            alt="Github"
            class="img-icone"
          />
          GitHub
        </a>
        <a class="link" href="https://wa.me/31995542943" target="_blank"
          ><img
            src="../../../assets/Icons/whatsapp.png"
            alt="whatsapp"
            class="img-icone"
          />
          WhatsApp
        </a>
      </div>
    </div>
  </div>
</section>
