<footer class="app-footer">
  <app-container>
    <div class="inner">
      <ul>
        <li>Todos os direitos reservados aos estudantes:</li>
        <li>Vinícius Dias, Raphael Nascimento, Igor Martins</li>
      </ul>
      <ul class="socials">
        <li>Acesse nossas redes:</li>
        <li>
          <a
            class="link"
            href="https://www.linkedin.com/in/vin%C3%ADcius-dias-rodrigues/"
            target="_blank"
            ><img
              src="../../../assets/imagens/linkedin.jpg"
              alt="linkedin"
              class="img-icone-footer"
            />
          </a>
          <a class="link" href="https://github.com/Viniddev" target="_blank"
            ><img
              src="../../../assets/imagens/github.png"
              alt="Github"
              class="img-icone-footer"
            />
          </a>
          <a class="link" href="https://wa.me/31995542943" target="_blank"
            ><img
              src="../../../assets/imagens/whatsaoo.png"
              alt="whatsapp"
              class="img-icone-footer"
            />
          </a>
        </li>
      </ul>
    </div>
  </app-container>
</footer>
