<footer class="app-footer">
  <app-container>
    <div class="inner">
      <ul>
        <li>
          <img src="assets/imagens/logo-com-tagline.png" alt="" />
        </li>
        <li>Todos os direitos reservados aos estudantes:</li>
        <li>Vinícius Dias, Raphael Nascimento, Igor Martins</li>
      </ul>
      <ul class="socials">
        <li>Acesse nossas redes:</li>
        <li>
          <button mat-icon-button>
            <img
              src="../../../assets/Icons/whatsapp.png"
              alt="Ícone do whatsapp"
            />
          </button>
          <button mat-icon-button>
            <img
              src="../../../assets/Icons/instagram.png"
              alt="Ícone do instagram"
            />
          </button>
          <button mat-icon-button>
            <img
              src="../../../assets/Icons/twitter.png"
              alt="Ícone do twitter"
            />
          </button>
        </li>
      </ul>
    </div>
  </app-container>
</footer>
